In [1]:
import numpy as np

In [2]:
a1 = np.arange(0,12)

In [3]:
a1.shape

(12,)

In [4]:
a1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [5]:
a2 = a1.reshape(3, 4)

In [6]:
a2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [7]:
a3  = a1.reshape(3, 2,2)

In [8]:
a3

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]]])

In [9]:
a22 = a3.reshape(3, 4)

In [10]:
a22

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [11]:
total = 60000 * 28 * 28

In [12]:
total

47040000

In [15]:
d1 = np.arange(0, 47040000)
d1

array([       0,        1,        2, ..., 47039997, 47039998, 47039999])

In [17]:
d3 = d1.reshape(60000, 28 , 28)

In [19]:
28 * 28

784

In [20]:
d2 = d3.reshape(60000, 784)

In [21]:
d2

array([[       0,        1,        2, ...,      781,      782,      783],
       [     784,      785,      786, ...,     1565,     1566,     1567],
       [    1568,     1569,     1570, ...,     2349,     2350,     2351],
       ...,
       [47037648, 47037649, 47037650, ..., 47038429, 47038430, 47038431],
       [47038432, 47038433, 47038434, ..., 47039213, 47039214, 47039215],
       [47039216, 47039217, 47039218, ..., 47039997, 47039998, 47039999]])